{{ define "header" -}}
  {{ partial "header.html" . }}
{{- end }}

{{ define "content" -}}
<h1>404: Page not found</h1>
<p class="lead">Sorry, we've misplaced that URL or it's pointing to something that doesn't exist. <a href="{{ .Site.BaseURL }}">Head back home</a> to try finding it again.</p>

<p>Below is some recent posts created, otherwise view our <a href="/posts/">posts</a> for a full list.</p>
    <ul>
    <!-- Ranges through content/post/*.md -->
    <!-- range .Data.Pages --> 
    {{ range (.Paginator 5).Pages }}
        <li>
            <a href="{{.Permalink}}">{{.Date.Format "2006-01-02"}} | {{.Title}}</a> -         {{ .Summary }}

    {{ end }}
    </ul>

{{- end }}

{{ define "footer" -}}
{{- end }}
